.introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.introduction > img {
  border-radius: 100%;
  height: 128px;
  width: 128px;
  margin-right: 64px;
}

.introduction > h1 {
  color: #00aaff;
}
