.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.links > h2 {
  color: #00aaff;
  border-bottom: solid 5px #fffc80;
  padding: 0 100px;
}

.icons {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  width: 240px;
}

.icon {
  margin: 16px;
}
